
@{
    ViewData["Title"] = "Özet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2 style="background-color:red;color:white;">Index</h2>

<h2>Kullanıcı Hareketleri</h2>

<ul id="hareketListesi">

</ul>